<footer id="footer" class="sixteen columns" data-hook>
  <div id="footer-left" class="columns alpha eight" data-hook>
    <p><%= Spree.t :powered_by  %> <%= link_to 'Tobun.co.kr', 'http://tobun.co.kr/' %></p>
  </div>
  
  <div id="footer-right" class="columns omega eight" data-hook>
    <ul>
      <li>공지지사항: 사이트 이용에 관한 안내글 </li> 
      <li><%= link_to "서비스 전체체보기", "/sitemap" %></li> 
    </ul>
  </div>
</footer>
